

.app-root {
  min-height: 100vh;
  background-color: #0b3d2e; /* deep Mughlai green */
  border: 6px solid #c9a24d; /* antique gold */
  display: flex;
  align-items: left;
  justify-content: left;
  padding: auto;
}

.royal-frame {
  max-width: 900px;
  padding: auto;
  text-align: top-left;
  background-color: rgba(11, 61, 46, 0.95);
  border: 2px solid #c9a24d;
}

.royal-title {
 font-family: "Great Vibes", cursive;
  color: #e6d8a3;
  font-weight: 400; /* keep light to elegant */
  letter-spacing: 2px;
  font-size: 90px;
}


.royal-subtitle {
  margin-top: 1rem;
  color: #f4f1e8; /* ivory */
  font-size: 1.1rem;
}

.royal-header {
  padding: 2.5rem 1rem 1.5rem;
  background-color: #0b3d2e;
  border-bottom: 2px solid #c9a24d;
}

.royal-nav-link {
  color: #727115;
  padding: 0.5rem 1.5rem;
  font-family:"Great Vibes", cursive;
  word-spacing: 0.5;
  font-size: 30px;
  font-style: italic;
  font-weight: 200;
}

.royal-nav-link:hover {
  color: #ffa600;
}
