/* Root container */
.app-root {
  min-height: 100vh;
  background-color: #0f4f3a; /* deep Mughlai green */
  border: 2px solid #c9a24d; /* antique gold */
  padding: 20px;              /* some spacing around content */
}

/* Main title */
.royal-title {
  font-family: "Great Vibes", cursive;
  color: #e6d8a3;             /* light gold */
  font-weight: 400;
  font-size: clamp(2.5rem, 6vw, 4rem); /* responsive font size */
  /* margin-bottom: 20px; */
}
.royal-title:hover{
    color: #ffa600;
  /* background-color: rgba(255, 166, 0, 0.15);  */
  /* border-radius: 100px; */
}

/* Navigation bar */
.royal-nav-bar {
  background-color: #0f4f3a;
  border: 2px solid gold;
  padding: 10px 20px;         /* proper spacing */
  display: flex;
  gap: 10px;                  /* space between nav links */
  width: 100%;
  justify-content: space-evenly;
}
.royal-nav-bar2 {
  background-color: #0f4f3a;
  padding: 10px 20px;         /* proper spacing */
  display: flex;
  gap: 10px;                  /* space between nav links */
  width: 100%;
  justify-content: space-evenly;
}

/* Nav links */
.royal-nav-link {
  color: #727115;
  font-family: "Great Vibes", cursive;
  font-style: italic;
  font-size: clamp(1.2rem, 2.5vw, 1.8rem); /* responsive text */
  text-decoration: none;
  transition: color 0.3s ease;

  display: block;       /* better for full-width clickable area */
 
}

.royal-nav-link:hover {
  color: #ffa600;
  background-color: rgba(255, 166, 0, 0.15); 
  border-radius: 100px;
}

/* Logo */
.navbar-logo {
  max-height: 48px;  /* keeps logo size consistent */
  width: auto;
  border-radius: 100%;
}

/* Text */
.textTypeCursive{
    color: #727115;
  font-family: "Great Vibes", cursive;
  font-style: italic;
  font-size: clamp(1.2rem, 2.5vw, 1.8rem); /* responsive text */
  text-decoration: none;
}
#titleProducts{
    text-align: center;
}