/* Submit button */

/*Heading*/
#OrderNowHeading{
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
    font-weight: 500;
    text-align: center;
}

.formOrder{
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
    font-weight: 500;
    
    max-width: 500px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Each form section */
.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Labels */
.form-group label{
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
    font-size: large;
    font-weight: 400;
    gap: 2px;
    text-spacing-trim: normal;
}

/* Inputs */
.form-group input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}

.submit-order{
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
    background-color: #0f4f3a;
    border: 2px solid gold;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}

.submit-group{
  text-align: center;
  margin-top: 1.2rem;
}

.submit-order:hover{
  color: #ffa600;
  background-color: rgba(200, 126, 48, 0.859);
  transition: 0.3s;
}

/* Mobile */
@media (max-width: 600px){
  .submit-order{
    font-size: 0.9rem;
    padding: 0.45rem 0.9rem;
  }
}



